{{ define "main" }}

    {{- partial "menu.html" . -}}
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-txt-wrap">
            <h1>Pricing</h1>
            <p>Affordable Scalable Excellent</p>
            <div class="hero_btn">
              <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-lg-6">
          <div class="pricing_one">
            <h2 class="text-center">Soft-hosted</h2>

            <p><strong>Details:</strong></p>

            <ul class="compare_list">
              <li>Production use</li>
              <li>No limits on usage</li>
              <li>No extra fees</li>
              <li>Fallback license to a version</li>
              <li>Slack Support</li>
              <li>Email Support</li>
            </ul>

            <div class="row mt-4">
              <div class="col-lg-6 text-center">
                <a href="https://billabear.ha-infra.xyz/portal/checkout/yearly" target="_blank" class="common-bttn">Buy &pound;2,000 Yearly</a>
              </div>
              <div class="col-lg-6 text-center">
                <a href="https://billabear.ha-infra.xyz/portal/checkout/monthly" target="_blank"  class="common-bttn">Buy &pound;200 Monthly</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          
          <div class="pricing_two">
            <h2 class="text-center">Managed</h2>

            <p><strong>Details:</strong></p>

            <ul class="compare_list">
              <li>Production and Dev environments</li>
              <li>No limits on usage</li>
              <li>No extra fees</li>
              <li>Fallback license to a version</li>
              <li>Slack Support</li>
              <li>Email Support</li>
            </ul>


            <div class="text-center mt-4">
              <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
      
    
{{ end }}