{{ define "main" }}

    {{- partial "menu.html" . -}}
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero-txt-wrap">
              <h1>Quotes</h1>
              <p>Enable your sales team to send custom offers to close deals.</p>
              <div class="hero_btn">
                <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MgSPPSCz2D8?si=RVg8UuQGn1WncdKN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <section class="developer-section pa-y6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                  tabindex="0">
                  <!-- Developer area start  -->
                  <div class="row align-items-center mt-38">
                    <div class="col-xl-6 col-lg-6">
                      <div class="dev-img-box" data-aos="fade-up-right" data-aos-duration="1000">
                        <img src="/images/multiple-subscription.svg" alt="multiple" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                      <div class="devloper-txt-box">
                        <h2>Add Urgency to your Offers</h2>
                        <p>BillaBear allows you to add an expires date and time.</p>
                        <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center mt-38">
                    <div class="col-xl-6 order-2 order-lg-1 col-lg-6">
                      <div class="devloper-txt-box">
                        <h2>Make accepting easy and automated</h2>
                        <p>Provide a link that allows customer to accept and pay for a quote.</p>
                        <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
                      </div>
                    </div>
                    <div class="col-xl-6 order-1 order-lg-2 col-lg-6">
                      <div class="dev-img-box" data-aos="fade-up-left" data-aos-duration="1000">
                        <img src="/images/multiple-subscription.svg" alt="multiple" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <!-- Developer area end  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- developer finance section @e -->
    
{{ end }}