{{ define "main" }}

{{- partial "menu.html" . -}}
<main  class="sm:w-2/3 sm:m-auto">
  <div class="sm:grid sm:grid-cols-3 sm:gap-4">

            <div class="sm:col-span-2">

                <section class="article">
                    <h1 class="text-3xl mb-5 font-bold">{{ .Title }}</h1>

                    <section>
                        <p class="py-5"><strong>Written by:</strong> {{ $.Param "author.display_name" }} <strong>Published on:</strong> {{ .Date.Format "Mon Jan 2, 2006" }}</p>
                    </section>
                    <div>
                      <article id="content">
                        {{ .Content }}
                      </article>
                    </div>
                  </section>


            </div>
            <div class="col-sm-4">
              {{- partial "sidebar.html" . -}}
            </div>


        </div>
<style >
  .article p {
    padding-bottom: 15px;
  }
  .article h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  
  .article h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .article h4 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
</style>

{{ end }}