{{ define "main" }}

    {{- partial "menu.html" . -}}
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero-txt-wrap">
              <h1>White Label Billing</h1>
              <p>The ability to have multiple branding for your billing communication</p>
              <div class="hero_btn">
                <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="developer-section pa-y6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                  tabindex="0">
                  <!-- Developer area start  -->
                  <div class="row align-items-center mt-38">
                    <div class="col-xl-6 col-lg-6">
                      <div class="dev-img-box" data-aos="fade-up-right" data-aos-duration="1000">
                        <img src="/images/multiple-subscription.svg" alt="multiple" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                      <div class="devloper-txt-box">
                        <h2>Define Brands</h2>
                        <p>The ability to define brands and assign customers to them. Each brand has it's own set of templates and company data.</p>
                        <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center mt-38">
                    <div class="col-xl-6 order-2 order-lg-1 col-lg-6">
                      <div class="devloper-txt-box">
                        <h2>Communicate with each Brand's customers differently</h2>
                        <p>With its own set of templates and the ability to define on a brand level which emails are sent. Be in complete control over communication on a brand level.</p>
                        <a href="https://app.sessions.us/book/950e63e2-billabear---demo" class="common-bttn">Book Demo</a>
                      </div>
                    </div>
                    <div class="col-xl-6 order-1 order-lg-2 col-lg-6">
                      <div class="dev-img-box" data-aos="fade-up-left" data-aos-duration="1000">
                        <img src="/images/multiple-subscription.svg" alt="multiple" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <!-- Developer area end  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- developer finance section @e -->
    
{{ end }}