<footer class="mt-5 sm:w-2/3 sm:m-auto">
  <div class="sm:grid sm:grid-cols-5 sm:gap-5 pt-10">
      <div class="col-span-2">
        <img src="/images/logo.png" class="h-24 mr-3" alt="BillaBear Logo" />
        <p>Increase revenue while decreasing churn and time spent managing your customers.</p>
      </div>
      <div class="ftr-links">
        <h6 class="text-xl font-bold mb-3">Quick Links</h6>
        <ul class="pl-5 list-disc">
          <li><a href="https://github.com/billabear/billabear" target="_blank" class="underline hover:no-underline">Repository</a></li>
          <li><a href="https://github.com/orgs/BillaBear/projects/1" target="_blank" class="underline hover:no-underline">Project Board</a></li>
          <li><a href="https://docs.billabear.com/" target="_blank" class="underline hover:no-underline">Documentation</a></li>
          <li><a href="https://swagger.billabear.com/" target="_blank" class="underline hover:no-underline">Swagger Docs</a></li>
        </ul> 
      </div>
      <div class="ftr-links">
        <h6 class="text-xl font-bold mb-3">Features</h6>
        <ul class="pl-5 list-disc">
          <li><a href="/features/quotes">Quotes</a></li>
          <li><a href="/features/invoices">Invoices</a></li>
          <li><a href="/features/subscriptions">Subscriptions</a></li>
          <li><a href="/features/whitelabel">White Label</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-6">
        <div class="ftr-links">
          <h6 class="text-xl font-bold mb-3">Comparison</h6>
          <ul class="pl-5 list-disc">
            <li><a href="/billabear-vs-stripe-billing">Vs. Stripe</a></li>
          </ul>
        </div>
      </div>
  </div>

</footer>