
  <!-- footer section start -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
          <div class="ftr-logo">
            <a href="index.html">
              <img src="{{ "/images/logo.png" | urlize | relURL }}" alt="Logo" class="img-fluid">
            </a>
            <p>Increase revenue while decreasing churn and time spent managing your customers.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-6">
          <div class="ftr-links">
            <h6>Quick Links</h6>
            <ul>
              <li><a href="https://github.com/billabear/billabear" target="_blank">Repository</a></li>
              <li><a href="https://github.com/orgs/BillaBear/projects/1" target="_blank">Project Board</a></li>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-6">
          <div class="ftr-links">
            <h6>Features</h6>
            <ul>
              <li><a href="/features/quotes">Quotes</a></li>
              <li><a href="/features/invoices">Invoices</a></li>
              <li><a href="/features/subscriptions">Subscriptions</a></li>
              <li><a href="/features/whitelabel">White Label</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-6">
          <div class="ftr-links">
            <h6>Comparison</h6>
            <ul>
              <li><a href="/billabear-vs-stripe-billing">Vs. Stripe</a></li>
            </ul>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-lg-6">
          <div class="ftr-copy">
            <p>&copy; Humbly Arrogant Software Limited 2023</p>
          </div>
        </div> 
        </div>
      </div>
    </div>
  </footer>