
  <!-- footer section start -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
          <div class="ftr-logo">
            <a href="index.html">
              <img src="{{ "/images/logo.png" | urlize | relURL }}" alt="Logo" class="img-fluid">
            </a>
            <p>Increase revenue while decreasing churn and time spent managing your customers.</p>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-lg-12">
          <div class="ftr-copy">
            <p>&copy; Humbly Arrogant Software Limited 2023</p>
          </div>
        </div> 
      </div>
    </div>
  </footer>