<title>BillaBear - {{ or .Page.Title .Site.Title }}</title>
<script language="javascript" type="text/javascript"  src="{{ "/js/jquery.min.js" | urlize | relURL }}"></script>
<script  language="javascript" type="text/javascript"  src="{{ "/js/config.js" | urlize | relURL }}"></script>
<script  language="javascript" type="text/javascript"  src="{{ "/js/custom.js" | urlize | relURL }}"></script>

<script  language="javascript" type="text/javascript"  src="{{ "/js/bootstrap.bundle.min.js" | urlize | relURL }}"></script>


<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | urlize | relURL }}">
<link rel="stylesheet" href="{{ "/css/style.css" | urlize | relURL }}">
<link rel="stylesheet" href="{{ "/css/responsive.css" | urlize | relURL }}">
<script src="https://kit.fontawesome.com/e469160eb9.js" crossorigin="anonymous"></script>


<meta name="keywords" content="{{ .Page.Param "meta.keywords" }}"/>
<meta name="description" content="{{ .Page.Param "meta.description" }}"/>

<script key="plausible-script" async defer="defer" data-domain="billabear.com" src="https://stats.ha-infra.xyz/info.js"></script>

<meta property="og:type" content="profile" />
<meta property="og:title" content="BillaBear" />
<meta property="og:description" content="The Advanced Open Subscription Management and Billing System" />
<meta property="og:url" content="https://www.billabear.com/" />
<meta property="og:image" content="/images/social-card.png" />