<title>BillaBear - {{ or .Page.Title .Site.Title }}</title>
<script language="javascript" type="text/javascript"  src="{{ "/js/jquery.min.js" | urlize | relURL }}"></script>
<script  language="javascript" type="text/javascript"  src="{{ "/js/config.js" | urlize | relURL }}"></script>
<script  language="javascript" type="text/javascript"  src="{{ "/js/custom.js" | urlize | relURL }}"></script>

<script  language="javascript" type="text/javascript"  src="{{ "/js/bootstrap.bundle.min.js" | urlize | relURL }}"></script>


<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | urlize | relURL }}">
<link rel="stylesheet" href="{{ "/css/style.css" | urlize | relURL }}">
<link rel="stylesheet" href="{{ "/css/responsive.css" | urlize | relURL }}">