<nav class="navbar header-section navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="BillaBear" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav m-auto custom_nav"> <li class="nav-item">
          <a class="nav-link" href="#feat-sec">Features</a>
          <div class="feature-menu-box">
            <ul>
              <li><span>Core Features</span></li>
              <li><a href="/features/quotes"><i class="fa-solid fa-quote-left"></i>&nbsp;Quotes</a></li>
              <li><a href="/features/invoices"><i class="fa-solid fa-file-invoice"></i>&nbsp;Invoices</a></li>
              <li><a href="/features/subscriptions"><i class="fa-solid fa-arrow-rotate-left"></i>&nbsp;Subscriptions</a></li>
            </ul>
          </div>
          
        </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.billabear.com/">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq-sec">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Blog</a>
          </li>
        </ul>
        <form class="d-flex">
          <a href="https://github.com/billabear/billabear">GitHub</a>
          <a href="https://app.sessions.us/book/950e63e2-billabear---demo">Book Demo</a>
        </form>
      </div>
    </div>
  </nav>