
{{ $s := site.Params }}
{{- $posts := where .Site.RegularPages "Type" "in" $s.mainSections }}

<div class="sidebar">
    <div class="sidebar-panel">
        <div class="sidebar-header">
            Latest Posts
        </div>
        <div class="sidebar-content">
        
            <ul>
                <!-- orders content according to the "publishdate" field in front matter -->
                {{- range first 5 $posts }}
                  <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </li>
                {{ end }}
              </ul>
        </div>
    </div>
</div>